PORT=8080
APP_BASE_URL=https://login-service.dashdesign.eu
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://login-service.dashdesign.eu/auth/google/callback
APPLE_TEAM_ID=
APPLE_CLIENT_ID=eu.dashdesign.loginservice
APPLE_KEY_ID=
APPLE_PRIVATE_KEY_PATH=./secrets/AuthKey.p8
APPLE_REDIRECT_URI=https://login-service.dashdesign.eu/auth/apple/callback
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=login_service
POSTGRES_USER=login_service
POSTGRES_PASSWORD=change-me
